/* font  */

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* reset  */

* {
  margin: 0px;
  
  padding: 10px;
  box-sizing: border-box;
}

/* shared style  */

body {
  font-family: "Fira Sans", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h5 {
  color: #333;
  
}

p {
  color: #555;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  background-color: #28a745;
}

button:hover {
  background-color: #218838;
}

/* header  */

/* banner section style  */


.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    background: rgb(198, 228, 214);
}